<a href="https://colab.research.google.com/github/Bhanu9951/python-programs/blob/main/python_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
## printing list
fruit=["apple","banana","orange","pineapple"]
print(fruit)

['apple', 'banana', 'orange', 'pineapple']

## Accessing list

In [4]:

fruit=["apple","banana","orange","pineapple"]
print(fruit)

#PRINT THE FIRST ITEM OF THE LIST
print(fruit[0])

#NEGATIVE INDEXING
print(fruit[-1])

#RANGE OF INDEXES
print(fruit[0:2])
print(fruit[:2])
print(fruit[1:2])
print(fruit[1:])
print(fruit[3:])

['apple', 'banana', 'orange', 'pineapple']
apple
pineapple
['apple', 'banana']
['apple', 'banana']
['banana']
['banana', 'orange', 'pineapple']
['pineapple']

## chaining list items

In [6]:
fruit=["apple","banana","orange","pineapple",]
print(fruit)
fruit[2:3]=["watermelon"]
print(fruit)
fruit[2:3]=["papaya","kiwi"]
print(fruit)

['apple', 'banana', 'orange', 'pineapple']
['apple', 'banana', 'watermelon', 'pineapple']
['apple', 'banana', 'papaya', 'kiwi', 'pineapple']

## extending the item

In [7]:
fruit=["apple","banana","orange","pineapple"]
print(fruit)
fruit[2:4]="papaya"
print(fruit)

['apple', 'banana', 'orange', 'pineapple']
['apple', 'banana', 'p', 'a', 'p', 'a', 'y', 'a']

## add list items

In [9]:
fruit=["apple","banana","orange","pineapple"]
print(fruit)

#APPEND
fruit.append("papaya")
print(fruit)

#INSERTING
fruit.insert(4,"guava")
print(fruit)
fruit.insert(1,"kiwi")
print(fruit)

#EXTENDING THE LIST
extra=("watermelon","papaya")
fruit.extend(extra)
print(fruit)

['apple', 'banana', 'orange', 'pineapple']
['apple', 'banana', 'orange', 'pineapple', 'papaya']
['apple', 'banana', 'orange', 'pineapple', 'guava', 'papaya']
['apple', 'kiwi', 'banana', 'orange', 'pineapple', 'guava', 'papaya']
['apple', 'kiwi', 'banana', 'orange', 'pineapple', 'guava', 'papaya', 'watermelon', 'papaya']

## removing list items

In [12]:
fruit=["apple","banana","orange","pineapple"]
print(fruit)

#REMOVING LIST ITEM
fruit.remove("orange")
print(fruit)

#POP AND REMOVE ARE SAME
fruit.pop(1)
print(fruit)

#DELETE
del fruit[0]
print(fruit)

#CLEARING THE LIST 
fruit.clear()
print(fruit)

['apple', 'banana', 'orange', 'pineapple']
['apple', 'banana', 'pineapple']
['apple', 'pineapple']
['pineapple']
[]

##loop list

In [ ]:
fruit=["apple","banana","orange"]
print(fruit)

#FOR LOOP
for x in fruit:
  print(x)

  #RANGE
  for i in range(len(fruit)):
    print(fruit[1])

    #WHILE LOOP
    i=0
    while i < len(fruit):
      print(fruit[i])
      i=i+1

      #FOR LOOP
      [print(x) for x in fruit]

## list of comprension

In [14]:
fruit=["apple","watermelon","papaya"]
newlist=[x for x in fruit if "y" in x]
print(newlist)

newlist=[x for x in fruit if x !="apple"]
print(newlist)

newlist=[x for x in fruit]
print(newlist)

newlist=[x for x in range(11)]
print(newlist)

newlist=[x for x in range(9) if x<5]
print(newlist)

newlist=[x.upper()for x in fruit]
print(newlist)

newlist=['hello' for x in fruit]
print(newlist)

newlist=[x if x !="apple" else "papaya"  for x in fruit]
print(newlist)

['papaya']
['watermelon', 'papaya']
['apple', 'watermelon', 'papaya']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4]
['APPLE', 'WATERMELON', 'PAPAYA']
['hello', 'hello', 'hello']
['papaya', 'watermelon', 'papaya']

## sort list

In [15]:
# SORT ALPH
fruit=["apple","pineapple","orange","banana","guava"]
fruit.sort()
print(fruit)

#SORT NUMERICALLY
numbers=["10","40","143","33","28"]
numbers.sort()
print(numbers)

#SORT DESCENDING
fruit=["apple","pineapple","orange","banana","guava"]
fruit.sort(reverse = True)
print(numbers)

#CUSTOMISE SORT FUNCTION
def myfunc(n):
  return abs(n - 50)
  numbers = [10,40,143,33,28]
  numbers.sort(key=myfunc)
  print(numbers)

  #CASE INSENSTIVE SORT
  fruit =["apple","pineapple","orange","banana","guava"]
  fruit.reverse()
  print(fruit)

['apple', 'banana', 'guava', 'orange', 'pineapple']
['10', '143', '28', '33', '40']
['10', '143', '28', '33', '40']

## copy list

In [16]:
#COPY A LIST
fruit = ["apple","banana","orange"]
mylist=fruit.copy()
print(mylist)

mylist=list(fruit)
print(mylist)

['apple', 'banana', 'orange']
['apple', 'banana', 'orange']

## jion lists

In [ ]:
#JOIN TWO LISTS
a=["d","e","f"]
b=[1,2,3]
c=a+b
print(c)

a=["d","e","f"]
b=[1,2,3]
for x in b:
  a.append(x)
  print(a)

  #EXTEND
  a=["d","e","f"]
  b=[1,2,3]
  a.extend(b)
  print(a)